{
  "branches": ["master"],
  "plugins": [
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "tarballDir": "dist"
      }
    ],
    "@semantic-release/github",
      releaseRules: [
        { type: '*', release: 'patch' } // Always trigger a patch release on any commit type
      ]
  ]
}

