{
  "branches": ["master"],
  "plugins": [
    [
      "@semantic-release/npm",
      '@semantic-release/commit-analyzer',
          '@semantic-release/release-notes-generator',
          '@semantic-release/changelog',
          '@semantic-release/npm',
          '@semantic-release/github',
          '@semantic-release/git',
      {
        "npmPublish": true,
        "tarballDir": "dist"
      }
    ],
      releaseRules: [
        { type: '*', release: 'patch' } // Always trigger a patch release on any commit type
      ]
  ]
}

